services:
  postgres:
    image: postgres:15
    container_name: ws_postgres
    environment:
      POSTGRES_USER: ws
      POSTGRES_PASSWORD: ws
      POSTGRES_DB: weatherscope
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    container_name: ws_pgadmin4
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: user-name@domain-name.com
      PGADMIN_DEFAULT_PASSWORD: strong-password
    volumes:
      - pgadmin-data:/var/lib/pgadmin
  prometheus:
    image: prom/prometheus:latest
    container_name: ws_prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    configs:
      - source: prometheus_config
        target: /etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: ws_grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

volumes:
  pg_data:
  pgadmin-data:

configs:
  prometheus_config:
    content: |
      global:
        scrape_interval: 10s

      scrape_configs:
        - job_name: 'weatherscope'
          metrics_path: '/actuator/prometheus'
          static_configs:
            - targets: ['host.docker.internal:8080']